body {
    background-image: url(clear-close-up-dew-drop-of-water-371075.jpg);
}

h2 {
    color: rgb(4, 32, 55);
    text-align: center;
    border: 5px solid rgba(37, 55, 73, 0.2);
}

p {
    color: pink;
}

p {
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    color: white;
}