@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    
}

#page-wrapper {
    position: relative;
    max-width: 900px;
    margin: auto;
}

li {
    list-style: none;
    margin: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(192, 172, 153);
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.grid {
    display: flex;
    padding: 0 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    /* You could change above to space-between to distribute the three items evenly across the header. */
    background-color: rgb(100, 68, 27);
    position: fixed;
    top: 0;
    max-width: 900px;
    margin: auto;
    align-items: center;
    padding: 10px 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    width: 100%;
    overflow: hidden;
    border: black 2px solid;
}

#name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

li {
    display: inline-block;
    padding: 0 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    /* The above pushes the logo to the left of the header. */
}

nav {
    font-weight: bold;
}

@media only screen and (max-width: 710px) {
    .container > #hero {
        margin-top: 100px;
    }

    .logo {
        display: none;
    }

    li {
        display: block;
        margin: 10px;
    }

    header {
        display: block;
        text-align: center;
        padding: 10px;
    }
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 80px;
    background-color: rgb(192, 172, 153);
}

#hero > h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type="email"] {
    max-width: 275px;
    height:35px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
    background-color: orange;
    transition: background-color 1s;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: rgb(49, 27, 0);
}

@media (max-width: 550px) {
    #features .icon {
      display: none;
    }
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
}

#how-it-works {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
    border: 3px solid #000;
    border-radius: 8px;
    box-shadow: 8px 8px 3px 1px grey;
}

#pricing {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 3px solid #000;
    border-radius: 8px;
    box-shadow: 3px 5px 3px 1px grey;
}

.product > .level {
    background-color: rgb(100, 68, 27);
    color: rgb(255, 255, 255);
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product > h2 {
    margin-top: 15px;
}

.product > p {
    margin: 15px 10px;
}

.product > p > li {
    padding: 5px 0;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.product > button:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
}

footer {
    margin-top: 30px;
    background-color: rgb(146, 126, 107);
    padding: 10px 20px;
}

footer > ul {
    display: flex;
    justify-content: center;
}

footer > ul > li {
    margin: 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    color: #444;
}