/* This sets the page to 100% of the viewport height. */
body, html {
    height: 100%;
}

h2 {
    display: flex;
    justify-content: center;
    border: 2px black solid;
    border-radius: 8px;
    align-items: center;
    background-color: white;
}

/* The following values are for mobile devices. You should always design for mobile devices first. This will ensure that the page displays faster on smaller devices. The sections are stacked vertically, allowing for vertical scrolling to see the content. */
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr repeat(3, 2fr) 8fr 1fr;
    grid-template-areas:
        "header"
        "section1"
        "section2"
        "section3"
        "main"
        "footer";
    gap: 0.25em;
}

header {
    grid-area: header;
    background-image: linear-gradient(to left, rgba(145, 200, 255, 1), rgba(0, 0, 255, 0.6));
    border-radius: 0 0 8px 8px;
    border: 3px outset rgba(168, 168, 168, 0.904);
    min-height: 50px;
} 

ul {
    list-style: none;
}

li {
    margin: 0 20px 0 20px;
}

a {
    text-decoration: none;
}

.item-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

aside {
    display: none;
}

section:nth-of-type(1) {
    display: grid;
    grid-area: section1;
    grid-template-rows: 0.5fr 0.5fr;
    background-image: radial-gradient(farthest-corner at 10% 5%,#b3d8fd, rgb(57, 57, 248));
    border-radius: 8px;
    box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
    padding: 5px 30px;
    align-content: center;
}

section:nth-of-type(2) {
    display: grid;
    grid-area: section2;
    grid-template-rows: 0.5fr 0.5fr;
    background-image: radial-gradient(farthest-corner at 10% 5%, #a7c0da, #22405f);
    border-radius: 8px;
    box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
    padding: 5px 30px;
    align-content: center;
}

section:nth-of-type(3) {
    display: grid;
    grid-area: section3;
    grid-template-rows: 0.5fr 0.5fr;
    background-image: radial-gradient(farthest-corner at 10% 5%,#9ec1e4, #1e568f);
    border-radius: 8px;
    box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
    padding: 5px 30px;
    align-content: center;
}

main {
    grid-area: main;
    background-color: #c8e3fd;
    border-radius: 8px;
    padding: 1em;
    min-height: 200px;
}

img {/* This sets the width of the image to 25% of the device's viewport (screen). */
    width: 25vw;
    margin-top: 0.25em;
    margin-right: 1em;
    margin-bottom: 0.25em;
    float: left;
    border-radius: 50%;
    shape-outside: circle();
}

p {
    text-align: justify;
}

footer { 
    display: flex; 
    grid-area: footer;
    background-image: linear-gradient(to left, #213c57, #83befa);
    border-radius: 8px 8px 0 0;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

/* Scroll bar will only appear when needed and only in the vertical axis. */
.large {
    overflow-y: auto;
}

/* This @media query ensures that the values below will be applied on larger screens. */
@media only screen and (min-width: 768px) {
    body {
        position: relative;
        margin: 0;
        display: grid;
        grid-template-columns: 150px repeat(3, 1fr);
        grid-template-rows: 7% 2fr 50% 6%;
        grid-template-areas:
            "sidebar header header header"
            "sidebar section1 section2 section3"
            "sidebar main main main"
            "sidebar footer footer footer";
        gap: 1em;
    }
        aside {
            display: grid;
            grid-area: sidebar;
            background-image: linear-gradient(to bottom right, blue, lightblue);
            border: 4px outset rgba(168, 168, 168, 0.904);
            justify-items: center;
            padding-top: 20px;
            font-size: 1.5em;
            font-weight: bold;
            color: white;
        }

        section:nth-of-type(1) {
            display: grid;
            grid-area: section1;
            grid-template-rows: 1fr 3fr;
            background-color: #b3d8fd;
            border-radius: 8px;
            box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
            padding: 5px 30px;
            align-content: center;
        }
        
        section:nth-of-type(2) {
            display: grid;
            grid-area: section2;
            grid-template-rows: 1fr 3fr;
            background-color: #5e86af;
            border-radius: 8px;
            box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
            padding: 5px 30px;
            align-content: center;
        }
        
        section:nth-of-type(3) {
            display: grid;
            grid-area: section3;
            grid-template-rows: 1fr 3fr;
            background-color: #6d9fd2;
            border-radius: 8px;
            box-shadow: inset 5px 5px 8px 1px rgb(226, 225, 225), inset -5px -5px 8px 1px rgb(75, 75, 75);
            padding: 5px 30px;
            align-content: center;
        }
    }